
<div class="card">
    <div class="card-header">
        <strong class="translate">User attributes</strong> 
    </div>
    <div class="card-block">

        <div class="form-group">
            
            <div class="input-group">
                <span class="input-group-addon translate">Firstname</span>
                <input type="text" id="firstName" value="[firstName]" name="firstName" class="form-control translate"
                    placeholder="Firstname"><span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="form-group">

            <div class="input-group">
                <span class="input-group-addon translate">Lastname</span>
                <input type="text" id="lastName" value="[lastName]" name="lastName" class="form-control translate"
                       placeholder="Lastname"><span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon translate">Email address</span>
                <input type="text" id="email" value="[email]" name="email" class="form-control translate"
                    placeholder="Email address"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>        
            </div>
 
        </div>
 
       <div class="form-group">
            
            <div class="input-group">
                <span class="input-group-addon translate">Reset password</span>
                <input type="password" value="" name="password" class="form-control translate"
                    placeholder="Reset password"><span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
            </div>
        </div>


        
    </div>
</div>