<div class="animated fadeIn">
    <div class="row row-equal collection-cards">
    [loop:rtg]

        <div class="col-sm-6 col-lg-3">
            <div class="card card-inverse card-primary">
                <div class="card-block p-b-0">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary-outline active dropdown-toggle p-a-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item translate" href="rtg.html,[id]">Measure</a>
                        </div>
                    </div>
                    <img src="[thumb]-c"/>
                    <p>[uploadedAt]</p>
                </div>

            </div>
        </div>

    [endloop:rtg]
    </div>

    <div class="add-item">
        <a href="#">
            <i class="icon-plus"></i>
        </a>
    </div>



</div>