<script>
    loadJS([
      'https://apis.google.com/js/api.js?onload=loadApi',
      'assets/js/libs/async.js'
    ], "assets/js/views/patient.js");
</script>


<div class="patient">
    <div class="data"></div>
    <div class="rtg"></div>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4></h4>
            </div>
            <div class="modal-body translate">Are you sure you want to delete it?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default translate" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok translate">Delete</a>
            </div>
        </div>
    </div>
</div>