[loop:cards]

<div class="col-sm-6 col-lg-3">
    <div class="card card-inverse card-[type]">
        <div class="card-block p-b-0">
            <button type="button" class="btn btn-[type]-outline active p-a-0 pull-right">
                <i class="icon-location-pin"></i>
            </button>
            <h4 class="m-b-0">[value]</h4>
            <p>[name]</p>
        </div>
        <div class="chart-wrapper p-x-1">
            <div>
                <canvas id="card-[symbol]" class="chart chart-line" height="130"></canvas>
            </div>
        </div>
    </div>
</div>

[endloop:cards]